@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*reset rule*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body{
    background-color: rgb(246, 248, 249);
}

ul {
    list-style-image: url(‘’);
}
/*project style*/

.main-header{
    padding: 10px 10px;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.name-icon, .logo-icon{
    vertical-align: middle;
}

.main-body{
    padding: 40px 12px;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 60px ;
    background-color: white;
    border-radius: 5px;
}

.btn{
    border-radius: 4px;
    border: 20px;
    padding: 9px 15px;
}

.btn-add-task{
    background-color: rgb(71, 172, 241);
    color: white;
}
.btn-add-section{
    background-color: white;
    color: rgb(191, 194, 195);
    border: 1px solid rgb(232, 237, 238);
}
